#map-wrapper {
  width: 50%;
}

#na_map {
  display: block;
  height: 100%;
  max-width: 100%;
}

path:hover {
  stroke: #000 !important;
  stroke-width: 3px !important;
  stroke-linejoin: round;
  cursor: pointer;
}

.active {
  fill: #c1d72f;
  stroke: #c1d72f;
  stroke-width: 0.2555;
}

.disabled {
  fill: #CCCCCC;
  stroke: #CCCCCC;
  stroke-width: 0.2555;
  pointer-events: none;
}

#info-box {
  width: 50%;
  font-size: 20pt;
}

.map-title {
  font-weight: bold;
}

.map-caption {
  margin-top: 20px;
}