#na_map {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

path:hover {
  stroke: #000 !important;
  stroke-width: 3px !important;
  stroke-linejoin: round;
  cursor: pointer;
}

.disabled {
  pointer-events: none;
}

#info-box {
  position: absolute;
  top: 0px;
  left: 800px;
  z-index: 1;
  background-color: #ffffff;
  padding: 5px;
  font-family: 'Lato', sans-serif;
  font-size: 15pt;
}